/* UI elements */
.container {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.container form {
  padding: 5%;
}
.btn-info {
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #000000;
  color: white;
  border: #000000;
}

/* Body layout */

/* Header banner */
.banner {
  padding: 2.5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background: #cc0000;
  color: #fff;
  text-align: center;
  width: 100%;
}

/* Form login */
.form-login {
  padding: 2.5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.form-login h3 {
  text-align: center;
  color: #333;
}

.form-login .btn-info {
  font-weight: 600;
  color: #fff;
  background-color: #cc0000;
  border: 0;
}

/* Form register */
.form-register {
  padding: 2.5%;
  background: #cc0000;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.form-register h3 {
  text-align: center;
  color: #fff;
}

.form-register .btn-info {
  font-weight: 600;
  color: #cc0000;
  border: 0;
  background-color: #fff;
}