.banner {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 2.5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background: #cc0000;
  color: #fff;
  text-align: center;
  width: 100%;
}

.banner h2 {
  text-align: left;
}

.banner .btn {
  font-weight: 600;
  color: #fff;
  background-color: #cc0000;
  float: right;
  border: #000000;
}

.container {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.container form {
  padding: 10%;
}

.form-logout {
  padding: 0%;
}

.party-container {
  padding: 2.5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.party-container h3 {
  text-align: center;
  color: #333;
}

#btn-party-create {
  font-weight: 600;
  color: #fff;
  border: 0;
  background-color: #cc0000;
  position: absolute;
  right: 2.5%;
}
.opponent-container {
  padding: 2.5%;
  background: #cc0000;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.opponent-container h3 {
  text-align: center;
  color: #fff;
}

#btn-opponents-create {
  font-weight: 600;
  color: #cc0000;
  border: 0;
  background-color: #fff;
  position: absolute;
  right: 2.5%;
}

.dropdown-picker {
  padding: 2%;
  max-width: 55%;
  width: max-content;
}

.pc-container {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-bottom: 2.5%;
  text-align: left;
  background: #cc0000;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.npc-container {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-bottom: 2.5%;
  text-align: left;
  background: #ffffff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.banner .btn:hover,
.banner .btn:active,
.party-container .btn:hover,
.party-container .btn:active,
.opponent-container .btn:hover,
.opponent-container .btn:active {
  background-color: #000000;
  color: white;
  border: #000000;
}

.form-group input {
  margin-top: 2%;
  background-color: #000000;
  color: white;
  border: #000000;
}
